[submodule "scratch-gui"]
	path = scratch-gui
	url = https://github.com/IoTtalk/os-scratch-gui
[submodule "scratch-vm"]
	path = scratch-vm
	url = https://github.com/IoTtalk/os-scratch-vm
[submodule "ScratchTalk-Subsystem"]
	path = ScratchTalk-Subsystem
	url = https://github.com/IoTtalk/os-ScratchTalk-Subsystem
